@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Estilos para o cabeçalho */

.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    color: white;

}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9b18c0;
}

.header h1 {
    font-size: 100px;
    margin-bottom: 10px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #71128b;
    border-radius: 20px;

}

.header h6 {
    font-size: 36px;
    color: #e5c213;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.image-container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.image-container img {
    margin-bottom: 50%;
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    size: 10%;
    justify-content: center;
}

.featured-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: justify;
    margin-bottom: 20px;
    flex-direction: column;
}

.featured-content h5 {
    font-size: 24px;
    margin-bottom: 10px; 
}

.featured-content p {
    font-size: 10px;
    line-height: 1.6;
    color: #333;
    display: flexbox;
    flex: 1;
}


.footer {
    text-align: center;
    background-color: #6f1488;
    padding: 20px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;

}

.footer p {
    font-size: 14px;
    color: #eee3e3;
    font-family: Georgia, 'Times New Roman', Times, serif;     
}

.navbar-nav .nav-item.active .nav-link {
    color: #007bff;
}
